{% extends "common/base.html" %}
{% block content %}
<!-- Error message -->
{% if form.non_field_errors %}
  <span class="text-danger text-center">{{ form.non_field_errors }}</span>
{% endif %}
{% if form.non_form_errors %}
  <span class="text-danger text-center">{{ form.non_form_errors }}</span>
{% endif %}

<form method="post">{% csrf_token %}
    <div class="container">
<div class="card border-primary">
    <div class="card-header text-center text-white bg-primary"><h1>{{ form.title }}</h1></div>
    {% if form.title.errors %}
        <span class="text-danger"> {{ form.title.errors }} </span>
      {% endif %}
    <div class="card-deck pt-3">
      <div class="card border-info">
          <div class="card-header text-center text-white bg-info"><h5>description</h5></div>
        {% if form.description.errors %}
        <span class="text-danger"> {{ form.description.errors }} </span>
        {% endif %}
          <div class="card-body">{{ form.description }}</div>
      </div>
      <div class="card border-success">
          <div class="card-header text-center text-white bg-success"><h5>Localisation</h5></div>
        {% if form.localisation.errors %}
        <span class="text-danger"> {{ form.localisation.errors }} </span>
        {% endif %}
          <div class="card-body text-center  font-weight-bold" title="{{form.localisation.details}}">{{ form.localisation }}</div>
      </div>
    </div>
    <div class="card-deck pt-3">
      <div class="card border-info">
          <div class="card-header text-center text-white bg-info"><h5>Genres</h5></div>
        {% if form.genres.errors %}
        <span class="text-danger"> {{ form.genres.errors }} </span>
        {% endif %}
          <div class="card-body">{{form.genres}}</div>
      </div>
      <div class="card border-info">
          <div class="card-header text-center text-white bg-info"><h5>Nombre de joueurs</h5></div>
        {% if form.playermax.errors %}
        <span class="text-danger"> {{ form.playermax.errors }} </span>
        {% endif %}
          {% if form.playermin.errors %}
        <span class="text-danger"> {{ form.playermin.errors }} </span>
        {% endif %}
          <div class="card-body">
              <p class="card-text">Minimum</p>
              <p class="card-text">{{form.playersmin}}</p>
              <p class="card-text">Maximum</p>
              <p class="card-text">{{form.playersmax}}</p>
          </div>
      </div>
      <div class="card border-info">
          <div class="card-header text-center text-white bg-info"><h5>Temps de Jeu en mintues</h5></div>
        {% if form.timemin.errors %}
        <span class="text-danger"> {{ form.timemin.errors }} </span>
        {% endif %}
          <div class="card-body">
              <p class="card-text">Minimum</p>
              <p class="card-text">{{form.timemin}}</p>
              <p class="card-text">Maximum</p>
              <p class="card-text">{{form.timemax}}</p>
          </div>
      </div>
    </div>
    <div class="card-deck pt-3 mb-3">
        <div class="card border-secondary">
          <div class="card-header text-center text-white bg-secondary"><h5>Créateurs</h5></div>
        {% if form.creators.errors %}
        <span class="text-danger"> {{ form.creators.errors }} </span>
        {% endif %}
          <div class="card-body">{{form.creators}}</div>
        </div>
        <div class="card border-secondary">
          <div class="card-header text-center text-white bg-secondary"><h5>Autres informations</h5></div>
         {% if form.agmin.errors %}
        <span class="text-danger"> {{ form.agemin.errors }} </span>
        {% endif %}
            {% if form.tarif.errors %}
        <span class="text-danger"> {{ form.tarif.errors }} </span>
        {% endif %}
            {% if form.agmin.errors %}
        <span class="text-danger"> {{ form.extension.errors }} </span>
        {% endif %}
          <div class="card-body">
              <p class="card-text">Age Minimum</p>
              <p class="card-text">{{form.agemin}}</p>
              <p class="card-text">Tarif</p>
              <p class="card-text">{{form.tarif}}</p>
              <p class="card-text">C'est une extension</p>
              <p class="card-text">{{form.extension}}</p>
          </div>
          </div>
        <div class="card border-secondary">
          <div class="card-header text-center text-white bg-secondary"><h5>Date de publication</h5></div>
        {% if form.date.errors %}
        <span class="text-danger"> {{ form.date.errors }} </span>
        {% endif %}
          <div class="card-body"><p class="card-text">{{form.date}}</p></div>
       </div>
    </div>
    <div class="card-footer">
        <input class="btn btn-primary btn-xs" type="submit" value="Sauver">
        <input class="btn btn-warning btn-xs" type="reset" value="Reset">
    </div>
    </div>
</form>
{% endblock content %}
