{% extends "common/base.html" %}
{% block content %}
<div class="container ">
<div class="card border-primary">
    <div class="card-header text-center text-white bg-primary"><h1>{{ object.title }}</h1></div>
    <div class="card-deck pt-3">
      <div class="card border-info">
          <div class="card-header text-center text-white bg-info"><h5>description</h5></div>
          <div class="card-body scroll">{{ object.description }}</div>
      </div>
      <div class="card border-success">
          <div class="card-header text-center text-white bg-success"><h5>Localisation</h5></div>
          <div class="card-title text-center font-weight-bold">{{ object.localisation.name }}</div>
          <div class="container card-text scroll">{{ object.localisation.details }}</div>
      </div>
    </div>
    <div class="card-deck pt-3">
      <div class="card border-info">
          <div class="card-header text-center text-white bg-info"><h5>Genres</h5></div>
          <div class="card-body scroll">{% for genre in object.genres.all %} <p class="card-text">{{genre.name}}</p> {% endfor %}</div>
      </div>
      <div class="card border-info">
          <div class="card-header text-center text-white bg-info"><h5>Nombre de joueurs</h5></div>
          <div class="card-body scroll">
              <p class="card-text">{{object.playersmin}}-{{object.playersmax}}</p>
          </div>
      </div>
      <div class="card border-info">
          <div class="card-header text-center text-white bg-info"><h5>Temps de Jeu en minutes</h5></div>
          <div class="card-body scroll"><p class="card-text">{{object.timemin}}-{{object.timemax}}</p></div>
      </div>
    </div>
    <div class="card-deck pt-3 mb-3">
        <div class="card border-secondary">
          <div class="card-header text-center text-white bg-secondary"><h5>Créateurs</h5></div>
          <div class="card-body scroll">{% for creator in object.creators.all %} <p class="card-text">{{creator}}</p> {% endfor %}</div>
        </div>
        <div class="card border-secondary">
          <div class="card-header text-center text-white bg-secondary"><h5>Autres informations</h5></div>
          <div class="card-body scroll">
              <p class="card-text">Age minimum {{ object.agemin }}</p>
              <p class="card-text">Prix {{ object.tarif }}</p>
              <p class="card-text">Extansion {{ object.extension }}</p>
          </div>
        </div>
        <div class="card border-secondary">
          <div class="card-header text-center text-white bg-secondary"><h5>Date de publication</h5></div>
          <div class="card-body scroll"><p class="card-text">{{object.date}}</p></div>
       </div>
    </div>
    <div class="card-footer">
    <a href="{% url 'jeu:update' object.id %}" class="btn btn-warning btn-lg" role="button" aria-pressed="true">Editer</a>
    </div>
</div>
{% endblock content %}