{% extends "common/base.html" %}
{% block content %}
<!-- Error message -->
{% if form.non_field_errors %}
  <span class="text-danger text-center">{{ form.non_field_errors }}</span>
{% endif %}
{% if form.non_form_errors %}
  <span class="text-danger text-center">{{ form.non_form_errors }}</span>
{% endif %}

<form method="get" action="{% url 'film:search' %}">
    <div class="container">
    <div class="card border-info">
        <div class="card-header text-center text-white bg-info"><h3>Films à rechercher</h3></div>
        <div class="card-body">
        <input class="form-control" id="id_search_field" placeholder="Pattern" type="text" name="search_field" value="">
        </div>
        <div class="card-footer md-3">
            <input class="btn btn-primary btn-xs" type="submit" value="Rechercher">
            <input class="btn btn-warning btn-xs" type="reset" value="Reset">
            <a href="{% url 'film:search' %}?random=yes"  class="btn btn-info btn-xs" role="button">Trouve moi un film</a>
            <span class="float-right">Vous avez {{ nbr_movies }} films</span>
        </div>
    </div>
    </div>
</form>
{% if movie_list %}
<hr>
<div class="container">
<div class="card border" >
    <div class="card-header text-center font-weight-bold">
    Liste des Films qui match {{ view_search_field }}
  </div>
    <div class="card-body">
<table id="ludogotable" class="table border">
    <thead class="thead-light">
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Genres</th>
            <th scope="col">Langue</th>
            <th scope="col">Format</th>
            <th scope="col">Age conseillé</th>
            <th scope="col">Localisation</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for movie in movie_list %}
    <tr>
      <td><a href="{% url 'film:detail' movie.id %}">{{ movie.title }}</a></td>
      <td>{% for genre in movie.genres.all %}{{genre.name}} {% endfor %}</td>
      <td>{{ movie.langue }}</td>
      <td>{{ movie.format }}</td>
      <th>{{ movie.certificate }}</th>
      <td>{{ movie.localisation }}</td>
      <td>
        <a class="btn btn-link float-right"
                     href="{% url 'film:delete' movie.id %}">
                    <i class="far fa-trash-alt text-danger float-right"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
</div>
</div>
{% endif %}
{% endblock content %}
